html, body, #root { height: 100%; }

#root {
  width: 100%;
  max-width: none;               /* or unset */
  margin: 0;
  padding: 0;                    /* keep or set to 1rem if you want some space */
  text-align: initial;           /* don’t center everything globally */
}

main {
  padding-top: 30px;
  padding-bottom: 30px;
  flex: 1;                 /* grow to take up available space */
}

.navbar-glass {
  background-color: rgba(38, 100, 136, 0.5);  /* translucent */
  backdrop-filter: blur(10px);            /* frosted glass blur */
  -webkit-backdrop-filter: blur(10px);    /* Safari support */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-navbar {
  background-color: #2c3e50;  /* dark blue-gray */
}

.custom-header {
  background-color: #16a085;  /* teal */
  color: white;
}